body {
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
    color: #333;
  }
  
  header {
    text-align: center;
    padding: 20px;
    height: 30%;
    background-color: #333;
    color: white;
  }
 
  .gallery {
    display: grid;
    gap: 30px;
    padding: 40px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  
  .photos {
    width: 100%;
    height: auto;
    border-radius: 5px;
    transition: transform 0.3s ease, filter 0.3s ease;
    height: 150px;
    width: 200px;

  }
  
  .photos:hover {
    transform: scale(1.1);
    filter: brightness(0.8);
  }
  
  footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
  }
  

  /* respnsiveness */
  @media (max-width: 768px) {
     .header {
        padding: 5px;
        size: 10%;
      }
      .footer {
        padding: 5px;
        size: 10%;
      }
    .photos {
        width: 75%;
    }
  }
  
  @media (max-width: 345px) {
    .header {
        padding: 0px;
        size: 10%;
      }
      .footer {
        padding: 5px;
        size: 10%;
      }
      .photos {
        width: 90%;
    }
  }
  